/*main CSS file for simDB viewer App*/

body {
    background-color: rgb(238, 238, 238);
}

/*general rules*/
/*rows on vie page*/
.row-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 25px;
    -webkit-box-shadow: 7px 7px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

/*filter box*/
.scrollable-group {
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border: solid;
    border-width: 1px;
    border-color: rgb(210,210,210);
    -webkit-box-shadow: inset 0px 2px 9px -2px rgba(150,147,150,0.41);
    -moz-box-shadow: inset 0px 2px 9px -2px rgba(150,147,150,0.41);
    box-shadow: inset 0px 2px 9px -2px rgba(150,147,150,0.41);
}

.scrollable-group label {
    text-align: left;
}

.scrollable-group-placeholder {
    text-align: center;
    color: rgb(180,180,180);
    font-size: 200%;
    padding-top: 50px;
}

/*specific rules*/
#search .col-md-6:last-child div{
    float: right;
}