{% extends 'main.html' %}
{% from 'macros.html' import icon %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h3 class="lead">{{ sim["entry_id"]}}</h3>
            <table id="enty-table" class="table">
               <tr>
                    <td>Owner</td>
                    <td>{{ sim["owner"] }}</td>
                </tr>
                <tr>
                    <td>Url</td>
                    <td>{{ sim["url"] }}</td>
                </tr>
                <tr>
                    <td>Path</td>
                    <td>{{ sim["path"] }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ sim["description"] }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{% if sim["created_on"] != None %}  {{ sim["created_on"].strftime("%d.%m.%Y") }} {% endif %}</td>
                </tr>
                <tr>
                    <td>Added</td>
                    <td>{% if sim["added_on"] != None %}  {{ sim["added_on"].strftime("%d.%m.%Y") }} {% endif %}</td>
                </tr>
                <tr>
                    <td>Last update</td>
                    <td>{% if sim["updated_on"] != None %}  {{ sim["updated_on"].strftime("%d.%m.%Y") }} {% endif %}</td>
                </tr>
            </table>

            {% for meta_group_name, meta_group in meta %}
            <h4>{{ meta_group_name.replace("_", " ").capitalize() }}</h4>
            <table id="{{ meta_group_name }}-table" class="table">
                {% for meta_entry_name, meta_entry_value in meta_group %}
                <tr>
                    <td>{{ meta_entry_name }}</td>
                    <td>{{ meta_entry_value }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}

{#            {% if tags|length != 0 %}#}
{#            <h4>Tags</h4>#}
{#            <table id="tags-table" class="table">#}
{#                <tr>#}
{#                {%- for tag in tags %}#}
{#                <td>{{ tag }}</td>#}
{#                {%- endfor %}#}
{#                </tr>#}
{#            </table>#}
{#            {% endif %}#}

            {% if keywords|length != 0 %}
            <h4>Keywords</h4>
            <table id="keyword-table" class="table">
            {%- for keyword_name in keywords %}
                <tr>
                    <td>{{ keyword_name }}</td>
                    <td>{{ keywords[keyword_name] }}</td>
                </tr>
            {%- endfor %}
            </table>
            {% endif %}


        </div>
    </div>
{% endblock %}