{% extends 'layout.html' %}
{% from 'macros.html' import icon %}
{% block content %}
    <div class="wrapper">
        <!--<form action="/" method="POST">-->
          <!--Please select DB:-->
            <!--<label>Path</label>-->
            <!--<input name="path" value="">-->
            <!--<label>Comment</label>-->
            <!--<input name="comment" value="">-->
          <!--<input type="submit" value="Submit">-->
        <!--</form>-->

        <!--butto nbar on top of table-->
        <div id="button_bar">
            <button id="open_add_dialog">Add</button>
        </div>

        <!--show databases-->
        <div class="col-md-9">
            <h3 class="lead">Databases</h3>
            {% if databases|count > 0 %}
            <table id="qs_table" class="table sortable">
                <thead>
                    <tr>
                        <th>Path</th>
                        <th>Comment</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {%- for db in databases %}
                    <tr id="{{ db.id}}" class="entry">
                        <td class="path">{{ db.path }}</td>
                        <td class="comment">{{ db.comment }}</td>
                        <td> <a href="/edit/{{ db.id }}">Edit</a></td>
                        <td> <a href="/delete/{{ db.id }}">Delete</a></td>
                    </tr>
                {%- endfor %}
                </tbody>
            </table>
            {% else %}
            <h3 class=lead>No entries found</h3>
            {% endif %}
        </div>

    </div>

    <!-- dialogs -->

    <!-- add database-->
    <div id="add_dialog" title="Add database">
        <form action="/" method="POST">
          Please select DB:
            <br>
            <label>Path</label>
            <input name="path" value="">
            <br>
            <label>Comment</label>
            <input name="comment" value="">
            <br>
          <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}