<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>SimDB</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
    <!--<script src="/static/js/jquery-2.1.3.js"></script>-->
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/sortable.js"></script>

    <!--JQuery UI files-->
    <!--should we make them local?-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
        $( "#add_dialog" ).dialog({
          autoOpen: false,
          // show: {
          //   effect: "blind",
          //   duration: 1000
          // },
          // hide: {
          //   effect: "fade",
          //   duration: 1000
          // }
        });

        $( "#open_add_dialog" ).on( "click", function() {
          $( "#add_dialog" ).dialog( "open" );
        });
        } );
    </script>

    <!--AB: I have no idea what this is for; I guess this was a experiment-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$('.selectpicker').selectpicker();-->
        <!--})-->
    <!--</script>-->

    <script>
        // run live search on pandas table
        function filterTable(){

            // get selected table
            var db_path = $( "#select_table" ).val();

            // get selected group
            var g = $( "#select_group" ).val();

            // get selected tag
            var t = $( "#select_tag" ).val();

            // get search query
            var search_query = document.getElementById("search_field").value;

            //value = value.trim(); // remove any spaces around the text
                $.ajax({
                    url: "filter",                 // call the search page
                    data: {db_path: db_path, search_query: search_query, group: g, tag: t},     // get results from search page by sending value
                    dataType: "html",
                    success: function(data){
                        $("#results").html(data);  // push resulting table to something with id=results
                    }

                });
        }
    </script>
    <script>
        // get everything to build up the filter
        function buildFilter(){

            // get selected table, can I do this in one line?
            var e = document.getElementById("select_table");
            var db_path = e.options[e.selectedIndex].value;

            //value = value.trim(); // remove any spaces around the text
                $.ajax({
                    url: "build_filter",                 // call the search page
                    data: {db_path: db_path},     // get results from search page by sending value
                    dataType: "json",
                    success: function(data){
                        //document.write(data.groups);
                        // PREPARE selection htm for groups returned by build_filter
                        var out = "<option value='none'>None ...</option>";
                        for(i in data.groups){
 								out += "<option value='" + data.groups[i] + "'>" + data.groups[i] + "</option>";
 							}
                        $("#select_group").html(out); // push options to selection tag
                        

                        // tags
                        var out = "<option value='none'>None ...</option>";
                        for(i in data.tags){
 								out += "<option value='" + data.tags[i] + "'>" + data.tags[i] + "</option>";
 							}
                        $("#select_tag").html(out); // push options to selection tag


                        // keywords
                    }

                });
        }
    </script>

    <style type="text/css">

        #rounded {
            border: 2px solid #7087a1;
            padding: 10px 20px;
            background: #d8dcee;
            border-radius: 10px;
            max-width: 350px;
        }

         #category-table {
            max-width: 300px;
             border: 0px;
         }

         #category-table tbody tr > td.success {
             background-color: #8cbfee !important;
        }

        #todo-table {
            max-width: 1000px;
        }
        #todo-table tbody tr.success {
            background-color: #8cbfee !important;
        }

        form {
            display: inline-block;
        }


    </style>
</head>

<!--load table on startup-->
<body onload="filterTable()">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">SimDB</a>
            <a class="navbar-brand" href="/view/">View</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
<!--        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if page == 'new-task' %} class="active" {% endif %}><a href="/new-task">New TODO<span
                        class="sr-only">(current)</span></a></li>
                <li><a href="/new-category">New category</a></li>
            </ul>
        </div>-->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>


</body>
</html>
