<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>SimDB</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
    <!--<script src="/static/js/jquery-2.1.3.js"></script>-->
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/sortable.js"></script>

    <!--JQuery UI files-->
    <!--should we make them local?-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
        $( "#add_dialog" ).dialog({
          autoOpen: false,
          // show: {
          //   effect: "blind",
          //   duration: 1000
          // },
          // hide: {
          //   effect: "fade",
          //   duration: 1000
          // }
        });

        $( "#open_add_dialog" ).on( "click", function() {
          $( "#add_dialog" ).dialog( "open" );
        });
        } );
    </script>

    <!--AB: I have no idea what this is for; I guess this was a experiment-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$('.selectpicker').selectpicker();-->
        <!--})-->
    <!--</script>-->

    <script>
        // run live search on pandas table
        function filterTable(){
            // collect selected options
            // call filter view
            // get table as HTML code back

            // get selected table
            var db_path = $( "#select_table" ).val();

            // get selected group
            var selected_group = $( "#select_group" ).val();

            // get selected keyword
            var selected_keyword = $( "#select_keyword" ).val();

            // get selected keyword value
            var selected_keyword_value = $( "#select_keyword_value" ).val();

            // get search query
            var search_query = $( "#search_field" ).val();

            // get selected columns
            var columns = "";

            if($( "#show_path" ).prop( "checked" )){
                columns += " path ";
            }

            if($( "#show_created_on" ).prop( "checked" )){
                columns += " created_on ";
            }

            if($( "#show_added_on" ).prop( "checked" )){
                columns += " added_on ";
            }

            if($( "#show_updated_on" ).prop( "checked" )){
                columns += " updated_on ";
            }

            if($( "#show_description" ).prop( "checked" )) {
                columns += " description ";
            }

            //value = value.trim(); // remove any spaces around the text
                $.ajax({
                    url: "filter",                 // call the search page
                    data: {db_path: db_path, search_query: search_query, selected_group: selected_group, selected_keyword: selected_keyword, selected_keyword_value: selected_keyword_value, columns: columns},     // get results from search page by sending value
                    dataType: "html",
                    success: function(data){
                        $("#results").html(data);  // push resulting table to something with id=results
                    }

                });
        }
    </script>
    <script>
        // get everything to build up the filter
        function buildFilter(){
            // collect selected options
            // call build_filter
            // get available options as json back
            // update filter

            // get selected table
            var db_path = $( "#select_table" ).val();

            // get selected group
            var selected_group = $( "#select_group" ).val();

            // get selected keyword
            var selected_keyword = $( "#select_keyword" ).val();

            // get selected keyword value
            var selected_keyword_value = $( "#select_keyword_value" ).val();

            // get search query
            var search_query = $( "#search_field" ).val();

            $.ajax({
                url: "build_filter",                 // call the search page
                data: {db_path: db_path, search_query: search_query, selected_group: selected_group, selected_keyword: selected_keyword, selected_keyword_value: selected_keyword_value},     // get results from search page by sending value
                dataType: "json",
                success: function(data){
                    //document.write(data.groups);
                    // PREPARE selection htm for groups returned by build_filter
                    if(selected_group == "none"){
                        var out = "<option selected='selected' value='none'>None ...</option>";
                    } else {
                        var out = "<option value='none'>None ...</option>";
                    }

                    for(i in data.groups) {

                        if (data.groups[i] == selected_group) {
                            out += "<option selected='selected' value='" + data.groups[i] + "'>" + data.groups[i] + "</option>";
                        } else {
                            out += "<option value='" + data.groups[i] + "'>" + data.groups[i] + "</option>";
                        }
                    }

                    $("#select_group").html(out); // push options to html


                    // keywords
                    if(selected_keyword == "none"){
                        var out = "<option selected='selected' value='none'>None ...</option>";
                    } else {
                        var out = "<option value='none'>None ...</option>";
                    }
                    for(i in data.keywords) {

                        if (data.keywords[i] == selected_keyword) {
                            out += "<option selected='selected' value='" + data.keywords[i] + "'>" + data.keywords[i] + "</option>";
                        } else {
                            out += "<option value='" + data.keywords[i] + "'>" + data.keywords[i] + "</option>";
                        }
                    }
                    $("#select_keyword").html(out); // push options to html


                    // keyword value
                    if(selected_keyword_value== "none"){
                        var out = "<option selected='selected' value='none'>None ...</option>";
                    } else {
                        var out = "<option value='none'>None ...</option>";
                    }
                    for(i in data.values) {

                        if (data.values[i] == selected_keyword_value) {
                            out += "<option selected='selected' value='" + data.values[i] + "'>" + data.values[i] + "</option>";
                        } else {
                            out += "<option value='" + data.values[i] + "'>" + data.values[i] + "</option>";
                        }
                    }
                    $("#select_keyword_value").html(out); // push options to html

                }

                });
        }
    </script>

    <style type="text/css">

        #rounded {
            border: 2px solid #7087a1;
            padding: 10px 20px;
            background: #d8dcee;
            border-radius: 10px;
            max-width: 350px;
        }

         #category-table {
            max-width: 300px;
             border: 0px;
         }

         #category-table tbody tr > td.success {
             background-color: #8cbfee !important;
        }

        #todo-table {
            max-width: 1000px;
        }
        #todo-table tbody tr.success {
            background-color: #8cbfee !important;
        }

        form {
            display: inline-block;
        }


    </style>
</head>

<!--load table on startup-->
<body onload="filterTable()">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">SimDB</a>
            <a class="navbar-brand" href="/view/">View</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
<!--        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if page == 'new-task' %} class="active" {% endif %}><a href="/new-task">New TODO<span
                        class="sr-only">(current)</span></a></li>
                <li><a href="/new-category">New category</a></li>
            </ul>
        </div>-->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>


</body>
</html>
