{% extends 'main.html' %}
{% from 'macros.html' import icon %}
{% block content %}
    <div class="row">

        {% if databases|count > 0 %}
            Please select DB:
            <br>

            <!--select database-->
            <select id="select_table" name="select_table" onchange="filterTable();buildFilter()" size="5">
                {%- for db in databases %}
                    <option value="{{ db.path }}">{{ db.path }}</option>
                {%- endfor %}
            </select>

            <!--select group-->
            <select id="select_group" name="select_group" onchange="filterTable()" size="5">
            </select>

            <!--select keyword-->
            <select id="select_keyword" name="select_keyword" onchange="filterTable();buildFilter()" size="5">
            </select>

            <!--select keyword value-->
            <select id="select_keyword_value" name="select_keyword_value" onchange="filterTable()" size="5">
            </select>

            <!--which columns to show-->
            <div>
                <input type="checkbox" id="show_path" value="show_path" onchange="filterTable()" checked> Path<br>
                <input type="checkbox" id="show_created_on" value="show_created_on" onchange="filterTable()">Created on<br>
                <input type="checkbox" id="show_added_on" value="show_added_on" onchange="filterTable()">Added on<br>
                <input type="checkbox" id="show_updated_on" value="show_updated_on" onchange="filterTable()">Updated on<br>
                <input type="checkbox" id="show_description" value="show_description" onchange="filterTable()" checked>Description<br>
            </div>

            <br>
            <!--search field-->
            <input id="search_field" type="text" onkeyup="filterTable()" placeholder="Search in Entry ID and Description ..." size="100">

        {% else %}
            <p>No entries found</h3>
        {% endif %}

    </div>

    <!-- container where results are pushed in by filterTable() -->
    <div id="results"></div>
{% endblock %}
