{% extends 'layout.html' %}
{% from 'macros.html' import icon %}
{% block content %}
    <div class="row">

        {% if databases|count > 0 %}
            Please select DB:
            <br>
            <select id="select_table" name="select_table" onchange="filterTable()" size="{{ databases|count }}">
                {%- for db in databases %}
                    <option value="{{ db.path }}">{{ db.path }}</option>
                {%- endfor %}
            </select>
            <br>
            <input id="search_field" type="text" onkeyup="filterTable()" placeholder="Search in Entry ID and Description ..." size="100">
        {% else %}
            <p>No entries found</h3>
        {% endif %}

        <div id="results"></div> <!-- container where results are pushed in by filterTable() -->
    </div>
{% endblock %}
