{% extends 'main.html' %}
{% from 'macros.html' import icon %}
{% block content %}
<div class="container-fluid">

    <!-- (1.) ROW FILTER-->
	<div id="filter" class="row row-container">

        <!-- |||| -->
        <!-- ^    -->
		<div class="col-md-3">

            <!--select database-->
            <div id="select_database" class="btn-group-vertical btn-group-toggle scrollable-group" data-toggle="buttons">
                {% if databases|count > 0 %}
                    {%- for db in databases %}
                        <label class="btn btn-default">
                            <input type="radio" name="options" autocomplete="off" value="{{ db.path }}">
                            <i class="fas fa-database"></i> <span>{{ db.comment }}</span></br>
                            <span>{{ db.path }}</span>
                        </label>
                    {%- endfor %}
                {% else %}
                    <p class="scrollable-group-placeholder">No Database found</p>
                {% endif %}
            </div>

        </div>



        <!-- |||| -->
        <!--  ^   -->
		<div class="col-md-3">

            <!--select group-->
            <div id="select_group" class="btn-group-vertical btn-group-toggle scrollable-group" data-toggle="buttons">
                <p class="scrollable-group-placeholder">Groups</p>
            </div>
        </div>


        <!-- |||| -->
        <!--   ^  -->
        <div class="col-md-3">

            <!--select keyword-->
            <div id="select_keyword" class="btn-group-vertical btn-group-toggle scrollable-group" data-toggle="buttons">
                <p class="scrollable-group-placeholder">Keywords</p>
            </div>

        </div>


        <!-- |||| -->
        <!--    ^ -->
        <div class="col-md-3">

            <!--select keyword value-->
            <div id="select_keyword_value" class="btn-group-vertical btn-group-toggle scrollable-group" data-toggle="buttons">
                <p class="scrollable-group-placeholder">Values</p>
            </div>

        </div>

    </div>

    <!-- (2.) ROW SEARCH BAR-->
    <div id="search" class="row row-container">

		<div class="col-md-6">
            <!--search field-->
            <input id="search_field" type="text" class="form-control" onkeyup="filterTable()" placeholder="Search in Entry ID and Description ...">
		</div>
		<div class="col-md-6">
            <!--which columns to show-->
            <select id="select_columns" class="selectpicker bootstrap-select-with-dropdown-button" multiple data-actions-box="true" multiple>
                <option value="path">Path</option>
                <option value="created_on">Created on</option>
                <option value="added_on">Added on</option>
                <option value="updated_on">Updated_on</option>
                <option value="description">Description</option>
            </select>

<div class="btn-group" role="group" aria-label="Display options">
  <!--<button type="button" class="btn btn-secondary">1</button>-->
  <!--<button type="button" class="btn btn-secondary">2</button>-->

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button"
            class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-columns"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#!">Dropdown link</a>
      <a class="dropdown-item" href="#!">Dropdown link</a>
    </div>
  </div>
</div>




        </div>
	</div>

    <!-- (3.) ROW TOOLBOX-->
    <div id="toolbox" class="row row-container">
		<div class="col-md-4">
            <p>Toolbox. Coming soon.</p>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>

    <!-- RESULTS TABLE -->
	<div class="row row-container">
		<div id="results" class="col-md-12">
            <!-- container where results are pushed in by filterTable() -->
		</div>
	</div>

</div>
{% endblock %}
